<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body screen_capture_injected="true">
<% include nav.html %>
<!-- 添加账户弹出框 -->
<% include add_form.html %>
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row-fluid">
        <% include left_bar.html %>

        <div class="span9">
            <fieldset>
                <legend>账户列表
                    <a class="btn btn-primary" role="button" data-toggle="modal" href="#addAccount">添加账户</a>
                    <input type="text" placeholder="搜索" id="search_account" ></input>
                    <button class="btn btn-primary" onclick="searchAccount()">搜索</button>
                </legend>
                  <table class="table table-bordered table-striped" style="width: 80%">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>账户名称</td>
                        <td>账户帐号</td>
                        <td>账户密码</td>
                        <td>描述</td>
                    </tr>
                    </thead>
                    <% for(var i=0; i< accounts.length; i++ ){ %>
                    <tr>
                        <td><%=i+1 %></td>
                        <td><%-accounts[i].account_name %></td>
                        <td><%-accounts[i].account_id %></td>
                        <td><%-accounts[i].account_password %></td>
                        <td><%-accounts[i].account_description %></td>
                    </tr>
                    <% } %>
                </table>
				 <% include page.html %>
            </fieldset>
        </div><!--/span-->
    </div><!--/row-->
    <hr>
    <footer>
        <p>© Company 2013</p>
    </footer>
</div><!--/.fluid-container-->
<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script>
console.log(location)
function addAccount(el){
    var data = 'account_name='+$("#account_name").val()
                +'&account_password='+$("#account_password").val()
                +'&account_description='+$("#account_description").val();
    $.ajax({
        url: '/manageAccount/doAdd',
        data: data,
        type: 'POST',
        success: function(resp){
            alert("添加成功!");
            location.reload();
        }
    });
}

function searchAccount(){
    var url = '/manageAccount/list?f=1';
    var data = '&search_account=' + $("#search_account").val();
    location.href = url+data;
}
</script>
</body>
</html>