<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body screen_capture_injected="true">
<% include nav.html %>
<!-- 添加账户弹出框 -->
<div id="addAccount" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">添加账户</h3>
  </div>
  <form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="account_name">账户名称</label>
            <div class="controls">
                <input id="account_name" type="text" placeholder="账户名称">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="account_id">账户帐号</label>
            <div class="controls">
                <input id="account_id" type="text" placeholder="账户帐号">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="account_password">账户密码</label>
            <div class="controls">
                <input id="account_password" type="text" placeholder="账户密码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="account_password">描述</label>
            <div class="controls">
                <textarea id="account_description" type="text" rows="5"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</form>
  
</div>
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row-fluid">
        <% include left_bar.html %>
        <div class="span9">
            <fieldset>
                <legend>账户列表
                    <a class="btn btn-primary" role="button" data-toggle="modal" href="#addAccount">添加账户</a>
                </legend>
                  <table class="table table-bordered table-striped" style="width: 80%">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>账户名称</td>
                        <td>账户帐号</td>
                        <td>账户密码</td>
                        <td>描述</td>
                    </tr>
                    </thead>
                    <% for(var i=0; i< accounts.length; i++ ){ %>
                    <tr>
                        <td><%=i+1 %></td>
                        <td><%-accounts[i].account_name %></td>
                        <td><%-accounts[i].account_id %></td>
                        <td><%-accounts[i].account_password %></td>
                        <td><%-accounts[i].account_description %></td>
                    </tr>
                    <% } %>
                </table>
				 <% include page.html %>
            </fieldset>
        </div><!--/span-->
    </div><!--/row-->
    <hr>
    <footer>
        <p>© Company 2013</p>
    </footer>
</div><!--/.fluid-container-->
<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>